doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="theme-color" content="#13003F")
        link(href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Cutive", rel="stylesheet")
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
    body
        nav(class="navbar fixed-top navbar-expand-lg navbar-dark")
            a(class="navbar-brand" href="/")="Brendan Boyle"
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="nav ml-auto")
                    li(class="nav-item")
                        a(class="nav-link active" href="#v2-container")="Design"
                    li(class="nav-item")
                        a(class="nav-link" href="#v3-container")="Code"
                    li(class="nav-item")
                        a(class="nav-link" href="#v4-container")="Secure"
                    li(class="nav-item")
                        a(class="nav-link" href="mailto:brendan@dbztech.com")="Contact"
        block content
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        script="!function(e,t,r){var n=e.createElement(t),s=e.getElementsByTagName(t)[0];n.src='/elastic-apm-rum.umd.min.js',n.onload=function(){elasticApm.init(r)},s.parentNode.insertBefore(n,s)}(document,'script',{serviceName:'brendancboyle-website-rum',serverUrl:'https://bf1c5fd3292946508c7145006a575c9b.apm.us-east-1.aws.cloud.es.io:443',breakdownMetrics:true});"
